@tailwind base;
@tailwind components;
@tailwind utilities;

/* تخصيص شريط التمرير في Chrome */
.scroll-container::-webkit-scrollbar {
  height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #ffa500; /* لون شريط التمرير */
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* لون خلفية المسار */
}

/* تخصيص شريط التمرير في Firefox */
.scroll-container {
  scrollbar-color: #ffa500 #f1f1f1; /* لون شريط التمرير والمسار */
  scrollbar-width: thin; /* حجم الشريط */
}
